# ─────────────────────────────────────────
# PYTHON
# ─────────────────────────────────────────
__pycache__/
*.py[cod]
*$py.class

# ─────────────────────────────────────────
# VIRTUAL ENV
# ─────────────────────────────────────────
.venv/
venv/
env/

# ─────────────────────────────────────────
# JUPYTER / NOTEBOOKS
# ─────────────────────────────────────────
.ipynb_checkpoints/
notebooks/

# ─────────────────────────────────────────
# MODEL FILES (VERY IMPORTANT)
# ─────────────────────────────────────────
*.pt
*.pth
*.pkl
*.h5

# ─────────────────────────────────────────
# DATASETS
# ─────────────────────────────────────────
dataset/
data/

# ─────────────────────────────────────────
# ENV FILES
# ─────────────────────────────────────────
.env

# ─────────────────────────────────────────
# OS FILES
# ─────────────────────────────────────────
.DS_Store
Thumbs.db

# ─────────────────────────────────────────
# LOGS
# ─────────────────────────────────────────
*.log

# ─────────────────────────────────────────
# BUILD FILES
# ─────────────────────────────────────────
build/
dist/
*.egg-info/

# ─────────────────────────────────────────
# VSCODE / IDE
# ─────────────────────────────────────────
.vscode/
.idea/